name: Deploy Helm Charts To Kubernetes Cluster

on:
  workflow_call:
    inputs:
      gke_zone:
        required: false
        type: string
        default: "europe-west3"
      gke_cluster:
        required: true
        type: string
        description: "Kubernetes Cluster Name"
        default: "internal"
      stage:
        required: true
        type: string
        description: "dev, staging, prod, etc."
        default: "dev"
      override_values_stage:
        required: false
        type: string
        description: "Override stage value for passing values file. e.g values.<override_values_stage>.yaml"
        default: ""
      chart_name:
        required: false
        type: string
        description: "Helm chart name."
        default: "usc-test-helm"
      chart_version:
        required: false
        type: string
        description: "Helm chart version to deploy. Defaults to latest."
        default: "latest"
      image_version:
        required: false
        type: string
        description: "The docker image you want to deploy. Defaults to latest."
        default: "latest"
      namespace:
        required: true
        type: string
        description: "Kubernetes namespace"
        default: "default"
      sops:
        required: false
        type: boolean
        description: "Enable/Disable Helm Secrets(sops) Plugin"
        default: false
      chart_path:
        required: false
        type: string
        description: "Chart location defaults to ."
        default: "."
      project_id:
        required: false
        type: string
        description: "Project id for gcloud (whenever you deploy to)."
        default: "urbansportsclub-dev"
      registry_project_id:
        required: false
        type: string
        description: "Project id for gcloud registry (currently always dev)."
        default: "urbansportsclub-dev"        

jobs:
  deploy-to-k8s:
    name: Deploy to Kubernetes Cluster
    runs-on: [self-hosted, deploylive]
    steps:
      - uses: actions/checkout@v3

      # Set up k8s for dev cluster
      - name: Set up K8s config
        run: |-
          gcloud container clusters get-credentials ${{ inputs.gke_cluster }} --region ${{ inputs.GKE_ZONE }} --project ${{ inputs.project_id }}

      # Get stage value from override_values_stage
      # GITHUB_ENV is environment file and variables from GITHUB_ENV can be accessed by `env`.
      - name: Get stage value
        run: |-
          if [ "${{ inputs.override_values_stage }}" == "" ]; then
            echo "VALUES_STAGE=${{ inputs.stage }}" >> $GITHUB_ENV
          else
            echo "VALUES_STAGE=${{ inputs.override_values_stage }}" >> $GITHUB_ENV
          fi

      # Configure gcloud Auth
      - name: Configure gcloud Auth
        run: |-
          gcloud auth print-access-token --project ${{ inputs.registry_project_id }} | helm registry login -u oauth2accesstoken --password-stdin https://europe-west3-docker.pkg.dev

      # Build dependency for helm-library
      - name: Helm dependency build
        run: |-
          for i in `ls -1 charts/`; do
            helm dependency build charts/$i/
          done

      # Deploy to the GKE cluster - with sops
      - name: Deploy
        if: inputs.sops == true
        run: |-
          helm secrets upgrade --install ${{ inputs.chart_name }} ${{ inputs.chart_path }} -n ${{ inputs.namespace }} --create-namespace -f ${{ inputs.chart_path }}/values.yaml -f ${{ inputs.chart_path }}/values.${{ env.VALUES_STAGE }}.yaml -f ${{ inputs.chart_path }}/secrets.${{ inputs.stage }}.yaml --set image.tag=${{ inputs.image_version }}

      # Deploy to the GKE cluster - without sops
      - name: Deploy
        if: inputs.sops == false
        run: |-
          helm upgrade --install ${{ inputs.chart_name }} ${{ inputs.chart_path }} -n ${{ inputs.namespace }} --create-namespace -f ${{ inputs.chart_path }}/values.yaml -f ${{ inputs.chart_path }}/values.${{ env.VALUES_STAGE }}.yaml --set image.tag=${{ inputs.image_version }} 
