name: E2E Tests
on:
  workflow_call:
    secrets:
      GH_PACKAGES_TOKEN:
        required: true
jobs:
  e2e_tests:
    name: Cypress
    runs-on: [self-hosted, dind]
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      # Restore NPM cache
      - name: Restore node_modules
        uses: actions/cache@v3
        id: node-cache
        with:
          path: |
            ./node_modules
            /home/runner/.cache/Cypress
          key: node-cache-${{ runner.os }}-${{ hashFiles('./yarn.lock') }}
      # Restore Next.js cache
      - name: Restore .next
        uses: actions/cache@v3
        with:
          path: |
            ${{ github.workspace }}/.next/cache
          key: next-cache-${{ runner.os }}-${{ hashFiles('./yarn.lock') }}-${{ hashFiles('**.[jt]s', '**.[jt]sx') }}
          restore-keys: |
            next-cache-${{ runner.os }}-${{ hashFiles('./yarn.lock') }}-
      - name: Set Node version
        uses: actions/setup-node@v3
        with:
          node-version-file: ".nvmrc"
          registry-url: "https://npm.pkg.github.com"
      - name: Setup Yarn
        run: npm install -g yarn
      - name: Install NPM dependencies
        if: steps.node-cache.outputs.cache-hit != 'true'
        run: yarn
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GH_PACKAGES_TOKEN }}
      # E2E Tests
      - name: Cypress
        uses: cypress-io/github-action@v4
        with:
          build: yarn build
          start: yarn start
